---
import fetch from 'node-fetch';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Home">
  <div class="flex w-full justify-center space-x-3 mt-5">
    <Icon name="tdesign:store" class="text-accent text-4xl pt-2" />
    <h1 class="text-4xl text-accent font-montserrat font-medium">Store</h1>
  </div>
  <div class="m-5 lg:m-10 flex flex-wrap justify-center items-center" id="storefront">
  </div>
</Layout>

<script>
const response = await fetch('http://localhost:8080/api/getProdutos')
    .then(res => res.json())
Object.keys(response).forEach(key => {
  console.log(key, "localhost:8080" + response[key].image_dir);
  const storefront = document.getElementById('storefront')
  storefront!.innerHTML += 
  `
  <div class="card w-full lg:w-96 bg-base-100 shadow-xl my-5 lg:m-10">
    <figure><img class="object-cover h-60 w-full lg:w-96" src=`+ "http://localhost:8080" + response[key].image_dir + `></figure>
    <div class="card-body">
      <h2 class="card-title">` + response[key].product_name + `</h2>
      <div class="card-actions justify-end">
        <p>R$ ` +  response[key].product_price.toString().replace(".",",") + `</p>
        <a class="btn btn-primary" href=/>Buy Now</a>
      </div>
  </div>
  `
});

</script>
