---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---
<div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">{title}</h2>
      <p>{body}</p>
      <div class="card-actions justify-end">
        <p>199.99</p>
        <a class="btn btn-primary" href={href}>Buy Now</a>
      </div>
  </div>
